@property --rotate {
    syntax: '<angle>';
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 30vw;
    --card-width: 20vw;
}

.card-empty {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 100%);
    cursor: pointer;
    margin: 0 auto;
    min-height: 240px;
    min-width: 160px;
    max-height: 480px;
    max-width: 320px;
    margin-bottom: 3rem;
}

.card-empty::before {
    content: '';
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card-empty::after {
    position: absolute;
    content: '';
    top: calc(var(--card-height) / 6);
    top: -1%;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.user-icon {
    width: 60%;
    fill: #3c67e3;
}

:root {
    --rotate: 0deg;
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --face1: #fac;
    --face2: #ddccaa;
    --facefront: url(https://img4.yna.co.kr/photo/cms/2019/05/02/02/PCM20190502000402370_P2.jpg);
}

.card {
    width: 60vw;
    height: 90vw;
    min-height: 240px;
    min-width: 160px;
    max-height: 480px;
    max-width: 320px;
    @media screen and (min-width: 600px) {
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);
    }

    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;

    border-radius: 5% / 3.5%;
    box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
        -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
        0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;

    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
}

.card:hover {
    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2),
        -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2),
        0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card {
    --color1: var(--face1);
    --color2: var(--face2);
    --front: var(--facefront);
}

.card:before,
.card:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
}

.card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
        115deg,
        transparent 0%,
        var(--color1) 25%,
        transparent 47%,
        transparent 53%,
        var(--color2) 75%,
        transparent 100%
    );
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
}

.card:after {
    opacity: 1;
    background-image: url('https://assets.codepen.io/13471/sparkles.gif'),
        linear-gradient(
            125deg,
            #ff008450 15%,
            #fca40040 30%,
            #ffff0030 40%,
            #00ff8a20 60%,
            #00cfff40 70%,
            #cc4cfa50 85%
        );
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.75;
}

.card.active:after,
.card:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
}

.card.active,
.card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
    animation: none;
    background-image: linear-gradient(
        110deg,
        transparent 25%,
        var(--color1) 48%,
        var(--color2) 52%,
        transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: 0.88;
    filter: brightness(0.26) contrast(1.33);
    transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
    animation: none;
    transition: none;
}

.card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before {
        transition: none;
        animation: holoGradient 12s ease 0s 1;
    }
    &:after {
        transition: none;
        animation: holoSparkle 12s ease 0s 1;
    }
}

@keyframes holoSparkle {
    0%,
    100% {
        opacity: 0.75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
    }
    5%,
    8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(0.8) contrast(1.2);
    }
    13%,
    16% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(0.8);
    }
    35%,
    38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
    }
    55% {
        opacity: 0.33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
    }
}

@keyframes holoGradient {
    0%,
    100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(0.5) contrast(1);
    }
    5%,
    9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
    13%,
    17% {
        background-position: 0% 0%;
        opacity: 0.88;
    }
    35%,
    39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.5) contrast(1);
    }
    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
}

@keyframes holoCard {
    0%,
    100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%,
    8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%,
    16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%,
    38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}

html,
body {
    height: 100%;
    background-color: #333844;
    padding: 0;
    z-index: 1;
    transform: translate3d(0, 0, 0.1px);
}
body {
    color: white;
    background-color: #333844;
    text-align: center;
}
h1 {
    display: block;
    margin: 2vh 0 0 0;
    font-family: 'Dongle', sans-serif;
    font-size: 10vh;
}
h2 {
    font-family: 'Dongle', sans-serif;
    font-size: 4vh;
    margin: 0 0 1vh 0;
}
p {
    margin-top: 5px;
    font-weight: 200;
}
#app {
    position: relative;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
}

@media screen and (min-width: 600px) {
    .cards {
        flex-direction: row;
    }
}

.cards .card {
    &:nth-child(2) {
        &,
        &:before,
        &:after {
            animation-delay: 0.25s;
        }
    }
    &:nth-child(3) {
        &,
        &:before,
        &:after {
            animation-delay: 0.5s;
        }
    }
    &:nth-child(4) {
        &,
        &:before,
        &:after {
            animation-delay: 0.75s;
        }
    }
}

.stat-div {
    padding: 5px 0;
    background: rgba(132, 100, 121, 0.8);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15%;
    border-top: 1px solid white;
}

.stat-table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}

.stat-table tr {
    width: 100%;
    border: transparent;
}

.stat-table td {
    width: 33%;
}

.stat-table td:nth-child(1),
.stat-table td:nth-child(2) {
    border-right: 1px solid white;
}

.stat-score {
    font-weight: bold;
    font-size: calc(16px + 2vh);
    line-height: calc(16px + 2vh);
}

.stat-desc {
    font-size: calc(14px + 0.5vh);
    line-height: calc(14px + 0.5vh);
}

#str-score,
#int-score,
#char-score {
    transition: all 0.3s linear 0s;
}

.stat-top {
    padding: 5px 0;
    background: rgba(132, 100, 121, 0.8);
    width: 100%;
    height: 10%;
}

#total-score {
    display: inline-block;
    float: right;
    padding-right: 2vh;
    font-weight: bold;
    font-size: calc(16px + 2.5vh);
    line-height: calc(16px + 2.5vh);
    color: rgb(255, 243, 160);
    transition: all 0.5s linear 0s;
    transform: scale(1);
}

.rank-stamp {
    transform: rotate(-15deg) scale(1);
    font-size: calc(16px + 2.5vh);
    padding-left: 0.5vh;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: -15%;
    z-index: 999;
    opacity: 0;
}

#total-rank {
    top: 0;
    transform: rotate(0deg) scale(1.3);
    padding-left: 2.5vh;
    position: relative;
    display: inline-block;
    float: left;
    font-size: calc(16px + 2.5vh);
    line-height: calc(16px + 2.5vh);
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.5;
        transform-origin: 50% 50%;
        transform: rotate(-2deg) scale(5);
        transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        opacity: 1;
        transform: rotate(-15deg) scale(1);
    }
}

@-webkit-keyframes pulse2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.5;
        transform-origin: 50% 50%;
        transform: scale(5);
        transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        opacity: 1;
        transform: scale(1.3);
    }
}

.anim-pulse{
    animation: pulse 2s;
    opacity: 1;
}

.anim-pulse2{
    animation: pulse2 2s;
    opacity: 1;
}

#disqus_thread {
    display: contents;
}

.addthis_inline_share_toolbox_gzld {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.custom-btn {
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-top: 1rem;
}

.btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
}
.btn-15:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.btn-15:hover {
    color: #fff;
}
.btn-15:hover:after {
    left: 0;
    width: 100%;
}
.btn-15:active {
    top: 2px;
}

.kakao_ad_area{
    width: 320px !important;
    height: 100px !important;
}